<section class="col-sm-6 mx-auto">
  <h6>Confirm Subscription</h6>
  <table class="table table-bordered">
    <tr>
      <th>Package</th><td>{{subscription.packageCode}} {{subscription.packageTitle}} </td>
    </tr>
    <tr>
      <th>Channels</th><td>{{subscription.description}}</td>
    </tr>
    <tr>
      <th>Subsription Term</th>
      <td>
        <label><input type="radio" name="termRB" checked (click)="changeTerm('MONTHLY')"/>Monthly</label>
        <label><input type="radio" name="termRB" (click)="changeTerm('ANNUAL')"/>Annual</label>
      </td>
    </tr>
    <tr>
      <th>Valid From</th><td>{{subscription.dateValidFrom|date:'dd-MMM-yyyy'}}</td>
    </tr>
    <tr>
      <th>Valid Till</th><td>{{subscription.dateValidTo|date:'dd-MMM-yyyy'}}</td>
    </tr>
    <tr>
      <th>Amount Payable</th><td>{{subscription.fee|currency:'INR'}}</td>
    </tr>
    <tr>      
      <td colspan="2">
        <button class="btn btn-primary btn-block" (click)="createSubscription()">
          Subscribe
        </button>
      </td>
    </tr>
  </table>
</section>